<%- include('../partials/head.ejs'); %>
<div class="wrapper">
    <!-- Header start -->
    <%- include('../partials/header.ejs'); %>
    <!-- Header end -->
    <!-- Sidebar start -->
    <%- include('../partials/leftbar.ejs'); %>
    <!-- Sidebar end -->
    <div class="content-wrapper">
        <!-- main content start -->
        <main class="container-fluid py-3 ps-lg-3 pe-lg-4 px-3">
            <div class="card border-0 shadow rounded-5">
                <div class="card-body p-xl-6 p-md-5 p-4">
                    <h1 class="text-center h2 mb-lg-4 mb-3 pb-xl-2">Welcome to CRM Administrator Section</h1>
                    
                </div>
            </div>
        </main>
        <!-- main content end -->
    </div>
</div>
<%- include('../partials/footer.ejs'); %>
</body>
</html>